In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

data_dir_1 = '/content/drive/My Drive/BaselineToShow/D1.csv'
dataset = pd.read_csv(data_dir_1)

In [ ]:
dataset.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,from,to,amount,timestamp,fromIsPhi,toIsPhi,date
0,64896,64896,4897,1538097,0x51836a753e344257b361519e948ffcaf5fb8d521,0x80ae86c1a0565f2661e2b8bfd683e7ae23e4ec37,11.166599,1.498390e+09,0,0,2017-06-25
1,5275,5275,5275,5275,0x21f74c6bbc1e3ab9f0205e12de3a9daa14351aed,0x77b92900167244af5035426831fe4e37328df81f,0.502769,1.498398e+09,1,0,2017-06-25
2,64894,64894,4895,1538095,0x51836a753e344257b361519e948ffcaf5fb8d521,0x80ae86c1a0565f2661e2b8bfd683e7ae23e4ec37,11.166599,1.498390e+09,0,0,2017-06-25
3,64898,64898,4899,1538099,0x51836a753e344257b361519e948ffcaf5fb8d521,0x80ae86c1a0565f2661e2b8bfd683e7ae23e4ec37,11.166599,1.498390e+09,0,0,2017-06-25
4,64891,64891,4892,1538092,0x51836a753e344257b361519e948ffcaf5fb8d521,0x247ba49d6fa3b7d14301fc67bb751b8e683c9c9e,0.114800,1.498378e+09,0,0,2017-06-25

In [ ]:
unique_val = dataset['from'].unique()
unique_val_1 = dataset['to'].unique()
print(len(unique_val))
print(len(unique_val_1))
unique_val = np.append(unique_val, unique_val_1)
unique_val = set(unique_val)
unique_val = list(unique_val)
print(len(unique_val))

289
1160
1403

In [ ]:
final_df = pd.DataFrame()

In [ ]:
final_df['User_Id'] = unique_val

In [ ]:
def is_phis (hash_value):
  list_from = dataset[dataset['from'] == hash_value]
  list_to = dataset[dataset['to'] == hash_value]
  if not list_from.empty:
    return int(list_from.fromIsPhi.unique())
  elif not list_to.empty:
    return int(list_to.toIsPhi.unique())
  else:
    return 0

def output_vals (hash_value):
  list = dataset[dataset['from'] == hash_value]
  days = 0
  count = 0
  if not list.empty: 
    col = list['timestamp']
    count = list.shape[0]
    max_date = datetime.fromtimestamp(col.max()).strftime('%d-%m-%Y %H:%M:%S')
    min_date = datetime.fromtimestamp(col.min()).strftime('%d-%m-%Y %H:%M:%S')
    max = datetime_object = datetime.strptime(max_date, '%d-%m-%Y %H:%M:%S')
    min = datetime_object = datetime.strptime(min_date, '%d-%m-%Y %H:%M:%S')
    days = (max - min).days
  return days, count

def input_vals (hash_value):
  list = dataset[dataset['to'] == hash_value]
  days = 0
  count = 0
  if not list.empty: 
    col = list['timestamp']
    count = list.shape[0]
    max_date = datetime.fromtimestamp(col.max()).strftime('%d-%m-%Y %H:%M:%S')
    min_date = datetime.fromtimestamp(col.min()).strftime('%d-%m-%Y %H:%M:%S')
    max = datetime_object = datetime.strptime(max_date, '%d-%m-%Y %H:%M:%S')
    min = datetime_object = datetime.strptime(min_date, '%d-%m-%Y %H:%M:%S')
    days = (max - min).days
  return days, count

def temporal_input_activity (hash_value):
  list = dataset[dataset['to'] == hash_value]
  sum = 0
  if not list.empty:
    vals = list['timestamp'].value_counts()
    for index, value in vals.items():
      add = index * value
      sum = sum + add
  return sum

def temporal_output_activity (hash_value):
  list = dataset[dataset['from'] == hash_value]
  sum = 0
  if not list.empty: 
    vals = list['timestamp'].value_counts()
    for index, value in vals.items():
      add = index * value
      sum = sum + add
  return sum

In [ ]:
is_phisher = []
for i in unique_val:
  val = is_phis(i)
  is_phisher.append(val)

In [ ]:
output_days_list = []
output_count_list = []
for i in unique_val:
  days, count = output_vals(i)
  output_days_list.append(days)
  output_count_list.append(count)

In [ ]:
input_days_list = []
input_count_list = []
for i in unique_val:
  days, count = input_vals(i)
  input_days_list.append(days)
  input_count_list.append(count)

In [ ]:
temporal_input = []
for i in unique_val:
  act = temporal_input_activity(i)
  temporal_input.append(act)

In [ ]:
temporal_output = []
for i in unique_val:
  act = temporal_output_activity(i)
  temporal_output.append(act)

In [ ]:
final_df['is_Phisher'] = is_phisher
final_df['outputLifetime'] = output_days_list
final_df['outputCount'] = output_count_list
final_df['inputLifetime'] = input_days_list
final_df['inputCount'] = input_count_list
final_df['temporalOutput'] = temporal_output
final_df['temporalInput'] = temporal_input

In [ ]:
data_directory = '/content/drive/My Drive/BaselineToShow/finalD1.csv'
final_df.to_csv(data_directory)